In [122]:
import pandas as pd
import csv
import os

In [105]:
dataset_part = "SUPara0.8M"
output_part = "train"

In [106]:
beng = pd.read_csv(f".//data//raw//{dataset_part}_bn.txt", sep='\t', header=None)

In [107]:
beng.columns=['beng']

In [108]:
beng

                                                    beng
0                                                 ০০১_০১
1                                                    ০১।
2                                  অপরের নিন্দা করিও না।
3                                  নিন্দা করা মহা অপরাধ।
4              বরং আত্মসমালোচনা দ্বারা নিজেকে সংশোধন কর।
...                                                  ...
70856             শিক্ষক মূল্য হারিয়েছেন টিউটরদের কাছে ।
70857  শিক্ষার্থীরা সবাই শুরু থেকেই পরীক্ষার্থীতে পরি...
70858  শিক্ষার অভিযাত্রার এই পরিণতি নিয়ে একটু সিরিয়াস...
70859                     সুপারা কর্পাস এখানে শেষ হয়েছে।
70860                                        ১০০_১০০_১০০

[70861 rows x 1 columns]

In [109]:
eng = pd.read_csv(f".//data//raw//{dataset_part}_en.txt", sep='\t', header=None)

In [110]:
eng.columns=['eng']

In [111]:
eng

                                                     eng
0                                                 001_01
1                                                    01.
2                             Don't speak ill of others.
3               To speak ill of others is a great crime.
4        Rather rectify yourself through self-criticism.
...                                                  ...
70023      Teachers have lost their value to the tutors.
70024  The students become examinees from the beginning.
70025  Serious thought needs to be given on this cond...
70026                           SUPara corpus ends here.
70027                                        100_100_100

[70028 rows x 1 columns]

In [112]:
beng_eng = pd.concat([beng, eng], axis=1)

In [113]:
beng_eng['beng_eng'] = beng_eng['beng'] + "\t" + beng_eng['eng']

In [115]:
beng_eng

,beng,eng,beng_eng
0,০০১_০১,001_01,০০১_০১\t001_01
1,০১।,01.,০১।\t01.
2,অপরের নিন্দা করিও না।,Don't speak ill of others.,অপরের নিন্দা করিও না।\tDon't speak ill of others.
3,নিন্দা করা মহা অপরাধ।,To speak ill of others is a great crime.,নিন্দা করা মহা অপরাধ।\tTo speak ill of others ...
4,বরং আত্মসমালোচনা দ্বারা নিজেকে সংশোধন কর।,Rather rectify yourself through self-criticism.,বরং আত্মসমালোচনা দ্বারা নিজেকে সংশোধন কর।\tRat...
...,...,...,...
70856,শিক্ষক মূল্য হারিয়েছেন টিউটরদের কাছে ।,NaN,NaN
70857,শিক্ষার্থীরা সবাই শুরু থেকেই পরীক্ষার্থীতে পরি...,NaN,NaN
70858,শিক্ষার অভিযাত্রার এই পরিণতি নিয়ে একটু সিরিয়াস...,NaN,NaN
70859,সুপারা কর্পাস এখানে শেষ হয়েছে।,NaN,NaN
70860,১০০_১০০_১০০,NaN,NaN

In [114]:
beng_eng[['beng_eng']].to_csv(f".//data//data_{output_part}.txt", header=None, index=None)

In [125]:
os.getcwd()

'C:\\Users\\Jawadur\\Desktop\\dev\\bangla-to-english-translator'

In [126]:
import tensorflow as tf
print("Num GPUs Available: ", len(tf.config.experimental.list_physical_devices('GPU')))

Num GPUs Available:  1